{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "bracketSameLine": true,
  "semi": true,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "^react-dom(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^~/(main|lib|shared)(.*)$",
    "^@/app(.*)$",
    "^@/pages(.*)$",
    "^@/widgets(.*)$",
    "^@/feature(.*)$",
    "^@/entities(.*)$",
    "^@/shared(.*)$",
    "^[./]"
  ]
}
